---
import Layout from '@layouts/Layout.astro';
import Nav from '@shared/Nav.astro';
import Hero from '@privacy/sections/Hero.section.astro';
import Content from '@privacy/sections/Content.section.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Privacy Policy — Carrily">
    <Nav />
    <div class="max-w-[720px] mx-auto py-32 px-4">
        <Hero />
        <Content />
    </div>
</Layout>
