---
import Layout from '@layouts/Layout.astro';
import Nav from '@shared/Nav.astro';
import HeroSection from '@home/sections/Hero.section.astro';
import AboutSection from '@home/sections/About.section.astro';
import HowItWorks from '@home/sections/HowItWorks.section.astro';
import FAQ from '@home/sections/FAQ.section.astro';
import Features from '@home/sections/Features.section.astro';
import DownloadSection from '@home/sections/Download.section.astro';
---

<Layout title="Carrily — Tu compañero inteligente de compras">
  <Nav />
  <main>
    <HeroSection />

    <AboutSection />

    <Features />

    <HowItWorks />

    <FAQ />

    <DownloadSection />
  </main>
</Layout>
